$list--spacers: (0, 5, 10, 15, 20, 30, 50, 60, 70, 100, 150);
@each $size in $list--spacers {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
          $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      
          // Font Sizes
            .m#{$infix}__#{$size}, .mx#{$infix}__#{$size}, .ms#{$infix}__#{$size}, .ml#{$infix}__#{$size}{
                margin-left: #{$size}px !important;
            }
            .m#{$infix}__#{$size}, .mx#{$infix}__#{$size}, .mr#{$infix}__#{$size}, .me#{$infix}__#{$size}{
                margin-right: #{$size}px !important;
            }
            .m#{$infix}__#{$size}, .mb#{$infix}__#{$size}, .mb#{$infix}__#{$size}{
                margin-bottom: #{$size}px !important;
            }
            .m#{$infix}__#{$size}, .my#{$infix}__#{$size}, .mt#{$infix}__#{$size}{
                margin-top: #{$size}px !important;
            }
            .m#{$infix}__#{$size}, .my#{$infix}__#{$size}, .mt#{$infix}__#{$size}{
                margin-top: #{$size}px !important;
            }
            // Padding
            .p#{$infix}__#{$size}, .pr#{$infix}__#{$size}, .pe#{$infix}__#{$size}, .px#{$infix}__#{$size}{
                padding-right: #{$size}px !important;
            }
            .p#{$infix}__#{$size}, .pl#{$infix}__#{$size}, .ps#{$infix}__#{$size}, .px#{$infix}__#{$size}{
                padding-left: #{$size}px !important;
            }
            .p#{$infix}__#{$size}, .pt#{$infix}__#{$size}, .py#{$infix}__#{$size}{
                padding-top: #{$size}px !important;
            }
            .p#{$infix}__#{$size}, .pb#{$infix}__#{$size}, .py#{$infix}__#{$size}{
                padding-bottom: #{$size}px !important;
            }
            .p#{$infix}__#{$size}, .py#{$infix}__#{$size}, .pb#{$infix}__#{$size}{
                padding-bottom: #{$size}px !important;
            }
            .p#{$infix}__#{$size}, .py#{$infix}__#{$size}, .pt#{$infix}__#{$size}{
                padding-top: #{$size}px !important;
            }
        }
    }    
}

// GAPS
$list--gaps: (0, 5, 10, 15, 20, 30);

@each $size in $list--gaps {
    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
          $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      
          // Font Sizes
            .gap#{$infix}__#{$size}{
                gap: #{$size}px !important;
            }
        }
    }    
}
