.btn {

    &-outline-primary {
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        background-color: transparent;
        border: none;
        cursor: pointer;
        min-width: 180px;
        border-radius: 0;
        padding: 0;

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background-color: $primary;
            z-index: 2;
            transition: 0.35s;
        }

        &::before {
            top: 0;
            right: 0;
        }

        &::after {
            bottom: 0;
            left: 0;
        }

        span {
            position: relative;
            display: inline-block;
            font-size: $fs-sm;
            font-weight: bold;
            letter-spacing: 2px;
            text-transform: uppercase;
            top: 0;
            left: 0;
            width: 100%;
            padding: rem(15px) rem(20px);
            transition: $transition-base;

            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 2px;
                height: 100%;
                background-color: $primary;
                z-index: 2;
                transition: 0.25s;
            }

            &::before {
                bottom: 0;
                right: -2px;
            }

            &::after {
                top: 0;
                left: -2px;
            }
        }

        &:hover {
            color: $white;

            &::before,
            &::after {
                width: 0%;
                transition: 0.2s 0.2s ease-out;
            }

            span::before,
            span::after {
                height: 0%;
            }
        }
    }
}