.section__ece{

    .single-item{
        @include media-breakpoint-up(lg){
            padding-left: 53px;
            padding-right: 40px;        
        }
    }

    .line{
        transform: translateX(-30px);
    }
}