// Header
.header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: $zindex-header;

    // Header Sticky
    &__sticky {
        background: $white;
        position: fixed;
        box-shadow: 0px 0px 9px 0px rgba($black, 0.07);
        animation: sticky 1s;
        --header-padding: 15px 0;
    }
    
    // Header Wrapper 
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: var(--header-padding, 25px 0);
    }
    // Header Toggle
    &-toggle  button {
        background: none;
        border: 0;
        padding: 0;

        & span {
            width: 25px;
            height: 2px;
            background: $primary;
            margin: 5px 0;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }


    // Header Logo 
    &__logo  img {
        width: 190px;
        max-width: 40vw;
    }


    &__menu {
        display: flex;
        list-style: none;

        li {
            position: relative;
            padding: rem(25px) rem(15px);

            a {
                font-size: $fs-md;
                font-weight: 600;
                color: $gray-600;
                white-space: nowrap;

                &.btn{
                    --btn-padding-y: #{rem(7px)};
                    --btn-padding-x: #{rem(20px)};
                }

                sup{
                    padding: rem(0px) rem(5px);
                    font-weight: 400;
                    font-size: $fs-xs;
                    border-radius: 50em;
                    position: absolute;
                    right: rem(-3px);
                    top: rem(15px);
                    min-width: rem(20px);
                    height: rem(20px);
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }

            &.active-menu {

                & > a {
                    color: $primary;
                }

                & > .menu-icon  {

                    &::after {
                        color: $primary;
                    }
                }
            }

            &:hover {

                & > .menu-icon,
                & > a {
                    color: $primary;

                    &::after {
                        color: $primary;
                    }
                }


                & .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }

            & .menu-icon {

                &::after {
                    content:"\f107";
                    font-family: $ff-fa;
                    font-size: rem(15px);
                    color: $white;
                    margin-left: 5px;
                    transition: $transition-base;
                }
            }

            & .sub-menu {
                position: absolute;
                top: 110%;
                left: 0;
                width: 270px;
                background: $white;
                box-shadow: 0 2px 29px rgba(0, 0, 0, .05);
                padding: 20px 0;
                border-radius: 5px;
                z-index: 99;
                border-top: 2px solid $primary;
                opacity: 0;
                visibility: hidden;
                transition: $transition-base;
                list-style: none;

                & li {
                    padding: 0;

                    & a {
                        padding: 5px 30px;
                        font-size: 16px;
                        font-weight: 500;
                        color: $gray-900;
                        text-transform: capitalize;
                        display: block;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            background: $primary;
                            width: 10px;
                            height: 2px;
                            opacity: 0;
                            visibility: hidden;
                            transition: $transition-base;

                        }
                    }

                    &.active {

                        & > a {
                            color: $primary;
                            padding-left: 37px;

                            &::before {
                                opacity: 1;
                                visibility: visible;
                                left: 15px;
                            }
                        }
                    }

                    &:hover {

                        & > a {
                            padding-left: 37px;
                            color: $primary;

                            &::before {
                                opacity: 1;
                                visibility: visible;
                                left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

}





// Header Sticky

@keyframes sticky {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}