.hero-area{
    background-size: cover;
    background-position: bottom center;
    padding: 150px 0;
    
    @include media-breakpoint-up(lg){
        height: 100vh;
    }
}

.hero-section-height{
    @include media-breakpoint-up(xl){
        height: var(--hero-section-height, 75vh);
    }
}