.section__learning-hub{
    position: relative;
    padding: var(--section-learning-hub-padding, rem(150px) 0);

    @include media-breakpoint-up(lg){
        // --section-learning-hub-padding: #{rem(250px) 0 #{rem(235px)}};
        --section-learning-hub-padding: 22vh 0 21vh;
    }
}