.footer{
    position: relative;
    --footer-gap: 230px;
    background-position: var(--footer-bg-position, bottom);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: calc(var(--footer-gap) * -1);
    z-index: 99;
    padding: var(--section-padding, rem(220px) 0px rem(40px));
    overflow: hidden;
    z-index: 1;

    &:before{
        position: absolute;
        content: "";
        top: 10em;
        height: 100%;
        width: 100%;
        background-color: $primary;
        z-index: -1;
    }


    @include media-breakpoint-up(xxl){
        --section-padding: 23vh 0 6vh;
    }
    @include media-breakpoint-up(lg){
        --footer-gap: #{rem(150px)};
    }
    @include media-breakpoint-down(md){
        --footer-bg-position: top left;
    }

    input{
        @include placeholder{
            color: $gray-300;
        }
    }
    a, a:hover{
        color: inherit;
        opacity: 1 !important;
    }
}