.product-filters{

    &, ul{
        list-style: none;
        padding: 0;

        li{
            margin-bottom: 5px;

            a{
                display: block;
                font-size: 14px;
                font-weight: 700;
                color: $gray-600
            }
        }
    }

    & > li{
        border-bottom: 1px solid $gray-400;

        & > a{
            padding: 10px 30px 10px 0;
        }
    }

    .hassubmenu {
        position: relative;
        &__end-icon{
            position: absolute;
            right: 0;
            top: 5px;

            .num{
                background: $gray-900;
                color: $white;
                padding: 0.30em 0.6em;
                border-radius: 20em;
                font-size: 10px;
                line-height: 1.7; 
            }
        }
        &.open{
            --submenu-item-visibility: block;
            > a {
                font-weight: bold;
                color: $black;
            }
            .fal{
                transform: rotate(180deg);
            }
        }
    }

    & ul{
        display: var(--submenu-item-visibility, none);
    }

    .subcat li{
        padding-left: 1em;
        border-radius: 20em;

        label{
            cursor: pointer;
            font-weight: 600;
        }
        
        a{
            padding-top: 5px;
            padding-bottom: 5px;
        }

        &:hover{
            background: #F6F6F6;
        }
    }

    // Color Check
    .color-check{
        --color-size: 30px;

        input{display: none;}

        input:checked + label:after{
            position: absolute;
            content: "\f00c";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: currentColor;
            font-family: $ff-fa;
        }

        label{
            min-width: var(--color-size);
            width: var(--color-size);
            height: var(--color-size);
            background: attr(data-code);
            color: $white;
            border: 2px solid $gray-400;
            border-radius: 30em;
            font-size: $fs-sm;
            cursor: pointer;
            position: relative;
        }
    }
}

// Product Breadcrumbs
.product-breadcrumb{
    list-style: none;
    padding: 0;

    li{
        display: inline-block;
        position: relative;
        font-weight: 600;

        &:not(:first-child):before{
            content: "/";
            display: inline-block;
            margin-left: 5px;
            margin-right: 7px;
        }

        a{
            color: $gray-600;
        }
    }
}