.list{

    &-social a{
        --icon-size: 40px;
        width: var(--icon-size);
        height: var(--icon-size);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $white;

        &:hover{
            background-color: $white;
            color: $primary;
        }
    }
    
    &-dice-inline {
        li:not(:first-child){
        padding-left: 15px;
        position: relative;
        --list-item-dice-size: 5px; 

            &::before{
                content: "";
                width: var(--list-item-dice-size);
                height: var(--list-item-dice-size);
                display: inline-block;
                border-radius: 50em;
                background: $white;
                position: absolute;
                left: 0px; top: 50%;
                transform: translateY(-50%);
            }
        }
        li{
            padding-right: 5px;
        }
    }
}