// Overlay
[data-overlay] {
    position: var(--overlay-att-position, relative);
    z-index: var(--overlay-att-zIndex, 1);
  
    &:before {
      position: var(--overlay-position, absolute);
      content: "";
      background: var(--overlay-bg, #{$black});
      width: 100%;
      height: 100%;
      top: 0; left: 0;
      z-index: var(--overlay-zIndex, #{$zindex-negative});
    }
  }
  // Overlay ALpha
  @for $alpha from 0 to 11 {
    [data-overlay="#{$alpha}"]:before {
      opacity: var(--overlay-opacity, calc(#{$alpha} / 10));
    }
  }